# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/

# VSCode
.vscode/

# Mac
.DS_Store

# Sistema
*.log

# Archivos de configuración local
config/config.json

# Ignorar todo dentro de uploads
static/uploads/*
# Pero NO ignores el archivo .gitkeep
!static/uploads/.gitkeep
