{% extends 'base.html' %}

{% block title %}Hacer una pregunta{% endblock %}

{% block content %}
<h2>Haz una pregunta</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<form method="POST" action="/ask" enctype="multipart/form-data">
    <label>Título:</label><br>
    <input type="text" name="title" required><br><br>

    <label>Detalles:</label><br>
    <textarea name="body" id="body" required></textarea><br><br>

    <label>Categorías:</label><br>
    <select id="ask-categories" name="categories" multiple placeholder="Escribe o selecciona...">
        {% for category in all_categories %}
        <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
    </select><br><br>

    <div class="row">
        <div class="col text-end"><input type="submit" value="Publicar pregunta" class="btn btn-primary mb-3"></div>
    </div>
</form>

{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}
{% endblock %}
