{% extends 'base.html' %}

{% block title %}Hacer una pregunta{% endblock %}

{% block content %}
<h2>Haz una pregunta</h2>

<form method="POST" action="/ask" enctype="multipart/form-data">
    <label>Título:</label><br>
    <input type="text" name="title" required><br><br>

    <label>Detalles:</label><br>
    <textarea name="body" id="body" required></textarea><br><br>

    <div class="row">
        <div class="col">
            <label>Adjuntar imágenes:</label><br>
            <input type="file" name="images" multiple><br><br>
        </div>
        <div class="col text-end"><input type="submit" value="Publicar pregunta" class="btn btn-primary mb-3"></div>
    </div>
</form>

{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}
{% endblock %}
