{% extends 'base.html' %}

{% block title %}Editar respuesta{% endblock %}

{% block content %}
<h2>Editar respuesta</h2>
<form method="POST">
    <textarea name="body" id="body">{{ answer.body }}</textarea><br><br>
    <div class="row">
        <div class="col">
            <label>Adjuntar imágenes:</label><br>
            <input type="file" name="images" multiple><br><br>
        </div>
        <div class="col text-end">
            <input type="submit" value="Actualizar" class="btn btn-primary mb-3">
        </div>
    </div>
</form>

{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}
{% endblock %}
