{% extends 'base.html' %}

{% block title %}Editar pregunta{% endblock %}

{% block content %}
<h2>Editar pregunta</h2>
<form method="POST">
    <label>Título:</label><br>
    <input type="text" name="title" value="{{ question.title }}"><br><br>

    <label>Contenido:</label><br>
    <textarea name="body" id="body">{{ question.body }}</textarea><br><br>

    <div class="row">
        <div class="col">
            <label>Adjuntar imágenes:</label><br>
            <input type="file" name="images" multiple><br><br>
        </div>
        <div class="col text-end"><input type="submit" value="Actualizar" class="btn btn-success"></div>
    </div>
</form>

{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}
{% endblock %}
