{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div>
    <h2>Preguntas recientes</h2>
</div>
<div class="row align-items-end mb-3 align-items-stretch">
    <div class="col mb-3 align-items-stretch">
        <form method="GET" action="/" class="d-flex">
            <input type="text" name="q" placeholder="Buscar preguntas..." class="form-control me-2">
            <button type="submit" class="btn btn-sm btn-outline-primary">Buscar</button>
        </form>
    </div>
    <div class="col-auto mb-3 d-flex align-items-stretch">
        <button class="btn btn-sm btn-outline-secondary" onclick="toggleCategoryFilter()">Filtrar por categorías</button>
    </div>
    <div class="col-12 mb-3 d-none" id="category-filter-container">
        <form method="GET" action="/" id="category-filter-form">
            <label for="categories">Selecciona categorías:</label>
            <select id="categories-select" name="categories" multiple placeholder="Escribe para buscar...">
                {% for category in all_categories %}
                <option value="{{ category.id }}" {% if category.id|string in selected_categories %}selected{% endif %}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-sm btn-outline-primary mt-2">Aplicar filtros</button>
        </form>
    </div>    
</div>

<ul>
    {% for question in questions %}
    <div class="card">
        <div class="row p-3">
            <div class="col-6">
                <div class="d-flex align-items-center flex-wrap mb-3">
                    <a href="/question/{{ question.id }}"><h3>{{ question.title }}</h3></a>
                    <small class="text-muted d-flex align-items-center ms-2">
                        - by 
                        <a href="/profile/{{ question.author.id }}" class="d-flex align-items-center text-decoration-none ms-2">
                            <img src="{{ url_for('static', filename='uploads/' ~ question.author.profile_picture) }}" alt="perfil" class="rounded-circle me-2" width="32" height="32">
                            {{ question.author.username }}
                        </a>
                    </small>
                    <small class="text-muted d-flex align-items-center ms-2" title="{{ question.created_at.strftime('%d %b %Y, %H:%M') }}">
                        (hace {{ ((datetime.utcnow() - question.created_at).total_seconds() // 3600)|int }} hrs)
                    </small>                                   
                </div>
            </div>
            <div class="col-6 text-end">
                {% if current_user.is_authenticated and current_user.id == question.user_id %}
                    <a href="{{ url_for('views.edit_question', question_id=question.id) }}" class="btn btn-sm btn-outline-warning mt-2">Editar pregunta</a>
                {% endif %}
            </div>
            <div class="col-12">
                <div class="mb-2">
                    {% for category in question.categories %}
                        <span class="badge bg-primary me-1">{{ category.name }}</span>
                    {% endfor %}
                </div>                
                <p class="truncate-text">{{ question.body | striptags }}</p>
            </div>
        </div>
    </div>
    {% else %}
    <p>No hay preguntas aún.</p>
    {% endfor %}
</ul>
{% endblock %}
